{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head> 
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
    </head>

    <body>
        <div class="top">
            <h1 id="header">United States Congressional Database</h1>

            <a href="javascript:history.go(-1)">Back</a>
            <a href="{% url 'index' %}">Home</a>

            <form action="{% url 'search' %}" method="post">
                {% csrf_token %} 
                <input type="text" name="search" placeholder="Search Congress">
            </form>

        </div>
        <div>
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>

